unstructured[all-docs]
pdf2image
pytesseract
python-magic

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

transformers
accelerate
torch

pillow
numpy
pandas

fastapi
uvicorn

streamlit

ragas

scikit-learn
rank-bm25